<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxy.rpc.rpc_middleware_config_center_plat.mapper.LogInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxy.rpc.rpc_middleware_config_center_plat.entity.LogInfo">
        <id column="id" property="id" />
    </resultMap>

</mapper>
